<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <h1>ご注文ありがとうございました。</h1>
    <div class="fontsize-300 fontweight-700 mt-4">
      <%= link_to "買い物を続ける", root_path, class: 'btn-grad small-btn' %>
    </div>
  </div>
</div>