<div>
  <%= image_tag @item.item_image, size: "200x200" %>
</div>
<div>
  商品名
  <%= @item.name %>
</div>
<div>
  商品説明
  <%= @item.description %>
</div>
<div>
  税込価格
  <%= @item.add_tax.to_s(:delimited) %>
</div>