<!--グラフを変更するためのボタン集-->
<%= form_with url: filter_path, local: false, method: :get do |f| %>
  <%= f.submit "Count" %>
  <%= f.submit "Price" %>
<% end %>

<div id="filter_result">
  <%= render 'revenues/filter_date', chartdata: @chartdata %>
</div>